@import url(./normalize.css); /*반드시 첫줄, 또한 RESET보다 먼저 */
@import url(./reset.css); 

/* 기본 스타일 */
*, *::before, *::after {
  box-sizing: border-box; /*모든 요소를 border-box로 할건지 통일하는게 좋음*/
  /* 등장하는 모든 요소들의 box-sizing방식을 통일하겠다!! */
}

/* 링크 스타일 */
a {
  color: inherit; /*body의 #212121를 상속받음*/
  text-decoration: none;
}

/* 본문 스타일 */
body {
  color: #212121; /* 세련되어 보이는 검정색 */
  background:#ccc; /* 배경색 '연노랑 -> #ccc밝은 회색'으로 바꾸기 */
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; 
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;
  
}

/* 헤더 */
.header {
  background: #fff; /* 배경을 흰색으로 변경 */
  height: 15vh;  /*브라우저의 비율에 따라 15%*/
  padding: 0 30px;   /* header에서만 padding을 사용할거야 */
  border-radius: 0 0 15px 15px; 
  position: relative; /*마치 공식인 것 처럼 인식하지는 마..앱솔루트로 쓰면 붕 뜨니깐..안쓰는겨*/
  
}

/* 로고 */
.logo {
  /* background-color: blue; */
  position:absolute; /*부모는 header -> 부모에게 static이 아닌, position을 줘야함*/
  top: 45px;
  left: 60px;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  /* 주석은 코드 위쪽에 다는것이 원칙 */
  /* position:relative;
  right: -10px; */
  /* transform 속성을 사용하여, --> 레거시 상관없다!  */
  transform: translateX(10px);
}

.member li {   /* .member속 li에게 적용 */
  display:inline-block; /*너는 원래 block이지만 inline으로 바꿀거야!*/
}

.member a {  /* .member li a 랑 같지만, 음.. 굳이 너무 유지보수 힘듬 */

  padding: 6px 10px;
  display:inherit; /*li의 inline-block속성을 물려받음. padding때매*/
  text-transform: uppercase;
}

/* 마지막 <li>요소에 포함된 <a>요소를 선택하여 오른쪽 padding값을 0으로 재정의하는 법 */
/* .member li:last-child a {
  padding-right:0;
} */


.divider {
  margin-right: 4px;
}

/* 비주얼 */
.visual {
  background:orange;
  height: 10vh;
}

/* 메인 */
.main {
  background:lightgreen;
  height: 50vh; 
  display: flow-root;
  padding: 0 15px;
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  background: violet; /*마찬가지로 영역 구분을 위해 임의로 색 지정*/
  width: 250px;
  /* position: relative; 
    - relative의 경우, 현재 자신의 위치를 기준으로 움직임 
    left: -100px;
  */

}

.group2 {
  background: salmon;  /*마찬가지로 영역 구분을 위해 임의로 색 지정*/
  width: 380px;
}

.group3 {
  background: gold;  /*마찬가지로 영역 구분을 위해 임의로 색 지정*/
  width: 190px;
}

/* clear속성을 동작시키기 위해, 가짜 요소를 항상 float 마지막에 삽입 */
.clearfix {
  clear: both;
}

/* 슬로건 */
.slogan {
  background:skyblue;
  height: 10vh;
}

/* 푸터 - 사실상 배경(그라데이션)을 위한 태그 */
.footer {
  background:gray;
  height: 15vh;
}

/* 푸터 이너 - footer태그 속의 content들을 넣기 위한 태그 */
.footer-inner {
  height:15vh;
  background: silver;
}

