@import url(./normalize.css); /*반드시 첫줄, 또한 RESET보다 먼저 */
@import url(./reset.css); 

/* 본문 스타일 */
body {
  background:#ffc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;  
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  box-sizing: border-box;
  margin: 0 auto;
  
}
/* 헤더 */
.header {
  background:pink;
  height: 15vh;  /*브라우저의 비율에 따라 15%*/
  padding: 0 30px;
}

/* 비주얼 */
.visual {
  background:orange;
  height: 10vh;
}

/* 메인 */
.main {
  background:lightgreen;
  height: 50vh;
}

/* 슬로건 */
.slogan {
  background:skyblue;
  height: 10vh;
}

/* 푸터 */
.footer {
  background:gray;
  height: 15vh;
}
.footer-inner {
  height:15vh;
  background: silver;
}

